/* 文本颜色和字体大小的设置 */
#a, #abcdef {
    color: #05fa15;
    font-size: 16px;
}

.title {
    color: #05fa11;
    font-size: 16px;
    user-select: none; /* 标准语法 */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
}

/* 边框和交互效果（.a 类） */
.a, .b, .c, .d, .e, .f, .H, .I, .K, .M, .N, .O, .P, .Q, .R, .S, .T, .U ,.V ,.W {
    position: absolute;
    box-shadow: inset 0 0 0 0.05px #000;
    background: linear-gradient(-45deg, #ee5252, #e73c7e, #23a6d5, #23d5ab, #3e05fa);
    background-size: 1000% 1000%;
    animation: gradientBG 5s ease infinite;
    transition: width 1.5s, height 1.5s, transform 1.5s, background-color 2s;
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px;
    width: 725px;
    height: 250px;
}

.a:hover, .b:hover, .c:hover, .d:hover, .e:hover, .f:hover, .H:hover, .I:hover, .K:hover, .M:hover, .N:hover, .O:hover, .P:hover, .Q:hover, .R:hover, .S:hover, .T:hover, .U:hover ,.V:hover ,.W:hover {
    width: 300px;
    height: 250px;
    background-color: #fff;
    transform: rotate(-10deg);
}

.a {
    left: 8px;
    top: 7px;
    font-family: 'EACH',sans-serif;
}

.b {
    left: 874.6666666666667px;
    top: 7px;
    font-family: 'O',sans-serif;
}

.c {
    left: 8px;
    top: 310px;
    font-family: 'EACH',sans-serif;
}

.d {
    left: 8px;
    top: 614px;
    font-family: 'EACH',sans-serif;
}

.e {
    left: 874.6666666666667px;
    top: 310px;
    font-family: 'O',sans-serif;
}

.f {
    left: 874.6666666666667px;
    top: 614px;
    font-family: 'O',sans-serif;
}

.g {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ff0000;
    position: absolute;
    top: 50%;
    left: 826px;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 6;
    pointer-events: none;
}

.H {
    left: 8px;
    top: 919px;
    font-family: 'EACH', sans-serif;
    
}

.I {
    left: 874.6666666666667px;
    top: 919px;
    font-family: 'O',sans-serif;
}

.K {
    left: 874.6666666666667px;
    top: 1223px;
    font-family: 'O',sans-serif;
}

.M {
    left: 874.6666666666667px;
    top: 1527px;
    font-family: 'O',sans-serif;
}

.N {
    left: 874.6666666666667px;
    top: 1831px;
    font-family: 'O',sans-serif;
}

.O {
    left: 874.6666666666667px;
    top: 2135px;
    font-family: 'O',sans-serif;
}

.P {
    left: 874.6666666666667px;
    top: 2439px;
    font-family: 'O',sans-serif;
}

.Q {
    left: 8px;
    top: 1223px;
    font-family: 'EACH',sans-serif;
}

.R {
    left: 874.6666666666667px;
    top: 2744px;
    font-family: 'O',sans-serif;
}

.S {
    left: 8px;
    top: 1527px;
    font-family: 'EACH', sans-serif;
}

.T {
    left: 8px;
    top: 1831px;
    font-family: 'EACH', sans-serif;
}

.U {
    left: 8px;
    top: 2135px;
    font-family: 'EACH', sans-serif;
}
.V{
    left: 8px;
    top: 2439px;
    font-family: 'EACH',sans-serif;
}
.W{

    left: 8px;
    top: 2744px;
    font-family: 'EACH',sans-serif;
}

.NOV {
    width: 0px;
    height: 716px;
}



.title{
    font-size: 18.5PX;

}
.QQQ{
    font-size: 21px;
}
.EEE{
    font-family: 'R',sans-serif;
}

/* 动画定义 */
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* 确保黑色背景始终在最底层 */
.NO {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -5;
}

/* 全局光标设置 */
* {
    cursor: none;
}

/* demo1 和 demo2 的样式 */
#demo1, #demo2 {
    border-radius: 15px 15px 0 0;
    position: absolute;
    display: block;
    width: 769px;
    height: 450px;
    top: 301px;
}

#demo1 {
    left: 7.7px;
}

#demo2 {
    left: 878.5px;
}

#audioVisualization {
    position: fixed;
    bottom: 0;
    left: 8px;
    width: 100%;
    height: 837px;
    z-index: -0;
    pointer-events: none;
}


@font-face {
    font-family: 'EACH';
    src: url('./EACH.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'O';
    src: url('./O.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'R';
    src: url('./R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}